<table class="table table-hover">
<thead>
      <tr>
        <th>Nb.</th>
        <th>Description</th>
      </tr>
    </thead>
<% questions.each do |l| %>
    <tbody>
        <tr>
            <td><%=l.nb %></td>
            <td><%= l.description %></td>
            <td><%= link_to "Delete question", course_quiz_question_path(@quiz.course_id, @quiz, l), method: :delete %></td>
        </tr>
    </tbody>

<%end%>
</table>
