<%= form_for(question, :url =>"/courses/#{question.quiz.course_id}/quiz/#{question.quiz_id}/questions") do |f| %>
<div class="form-grouped">
    <%= f.label :Insert_question %><br>
    <%= f.text_area :description %><br>
    <%= f.submit "Add question" %>
</div>
<%end%>
