<h1>Graded tests</h1>
<%= render :partial => 'quiz_results/index', :locals => {:quiz_results => @quiz_results} %>
<h1>Test for grading</h1>
<%= render :partial => 'pending_quizzes/index', :locals => {:pending_quizzes => @pending_quizzes} %>